body{
	display: flex;
	justify-content: center;
	background: rgb(113,98,54);
	/*background: linear-gradient(180deg, rgba(113,98,54,1) 0%, rgba(78,66,38,1) 100%);*/
}

div.container {
    max-width: 80vw;
    width: 50rem;
    padding-top: 8rem;
}

div.box {
	border-radius: 1rem;
	box-shadow: #0006 0 .5rem 1rem;
	margin: 3rem 0;
	border: 3px solid #aaa;
}

div.info {
	background: white;
	padding: 1rem;
	margin-bottom: 1rem;
}

div.info h1:nth-child(1), div.info p{
	margin: 0;
}

div.info h1, div.info h2, div.info h3 {
	margin-bottom: 0;
}

div.video {
	overflow: hidden;
}
div.video .video_container{
	width: 100%; height: 0;
	padding-bottom: 56.25%;
	position: relative;
	background: #000;
}
div.video .video_container *{
	position: absolute;
	width: 100%; height: 100%;
}

#video{
	user-select: none;
	display: flex; justify-content: center; align-items: center;
	color: white;
	font-size: 2em; font-style: italic;
}

div.video > div.stats {
	display: flex;
	background: white;
}

div.video > div.stats * {
	width: 100%;
}

div.section{
	text-align: center;
	background: #fff;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;

}
div.section:nth-child(2){
	border-left : 1px #0002 solid;
	border-right: 1px #0002 solid;
}

div.section > div.value {
	text-align: center;
	font-weight: bolder;
	text-transform: lowercase;
	font-size: 1.5em;
}

select {
	width: 100%;
	border: none;
	padding: .5rem;
	border-top: 1px #0002 solid;
	border-bottom: 1px #0002 solid;
	outline: none;
}

div.header {
	display: flex; align-items: center;
	flex-direction: column;
	color: white;
	font-style: italic;
}
div.header * {
	user-select: none;
}

div.header h1 {
	margin-bottom: 0;
	font-size: 3em;
	text-shadow: #000 0 .1rem .5rem, #000 5px 0px 0px, #000 4.90033px 0.993347px 0px, #000 4.60531px 1.94709px 0px, #000 4.12668px 2.82321px 0px, #000 3.48353px 3.58678px 0px, #000 2.70151px 4.20736px 0px, #000 1.81179px 4.6602px 0px, #000 0.849836px 4.92725px 0px, #000 -0.145998px 4.99787px 0px, #000 -1.13601px 4.86924px 0px, #000 -2.08073px 4.54649px 0px, #000 -2.94251px 4.04248px 0px, #000 -3.68697px 3.37732px 0px, #000 -4.28444px 2.57751px 0px, #000 -4.71111px 1.67494px 0px, #000 -4.94996px 0.7056px 0px, #000 -4.99147px -0.291871px 0px, #000 -4.83399px -1.27771px 0px, #000 -4.48379px -2.2126px 0px, #000 -3.95484px -3.05929px 0px, #000 -3.26822px -3.78401px 0px, #000 -2.4513px -4.35788px 0px, #000 -1.53666px -4.75801px 0px, #000 -0.560763px -4.96845px 0px, #000 0.437495px -4.98082px 0px, #000 1.41831px -4.79462px 0px, #000 2.34258px -4.41727px 0px, #000 3.17346px -3.86382px 0px, #000 3.87783px -3.15633px 0px, #000 4.4276px -2.32301px 0px, #000 4.80085px -1.39708px 0px, #000 4.98271px -0.415447px 0px;
}

div.header span{
	text-shadow: #000 0 .1rem .5rem, #000 2px 0px 0px, #000 1.75517px 0.958851px 0px, #000 1.0806px 1.68294px 0px, #000 0.141474px 1.99499px 0px, #000 -0.832294px 1.81859px 0px, #000 -1.60229px 1.19694px 0px, #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.701566px 0px, #000 -1.30729px -1.5136px 0px, #000 -0.421592px -1.95506px 0px, #000 0.567324px -1.91785px 0px, #000 1.41734px -1.41108px 0px, #000 1.92034px -0.558831px 0px;
}

@media only screen and (max-width: 768px) {
	div.section {
		font-size: .6em;
	}
}

div.footer {
	color: #000; opacity: .5;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
div.footer * {
	margin: .2em;
	user-select: none;
}
div.footer .text{
	width: 0;
    white-space: nowrap;
}
div.footer .text:first-of-type{ direction: rtl; }

.icon {
	display: block;
	width: 1em;
	height: 1em;
	margin-top: 0.4em;
	cursor: pointer;
}

.twitter { background-image: url('/assets/img/si/twitter.svg'); }
.github { background-image: url('/assets/img/si/github.svg'); }
